@use "../global/color" as *;

.hero {

  @media (max-width: 900px) {
    height: auto;
    padding: 4rem 0;
  }

  background-color: $background-color-sections;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}

.content {

  @media (max-width: 900px) {
    flex-direction: column;
    height: auto;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  height: 35rem;
  position: relative;
}

.hero-main {

  @media (max-width: 900px) {
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
  }

  align-items: center;
  display: flex;
  gap: 5rem;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.hero-text {
  h1 {
    color: #2d2e32;
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 25px;
    margin-top: 2rem;
  }

  p {
    margin-bottom: 20px;
  }

  span {

    @media (max-width: 900px) {
      justify-content: center;
    }

    display: flex;
    gap: 10px;

    a {
      color: $title-color;

      &:hover {
        color: $text-hover-icon-color
      }
    }
  }
}

.hero-img {
  img {

    @media (max-width: 650px) {
      height: 15rem;
      width: 15rem;
    }

    @media (max-width: 500px) {
      height: 12rem;
      width: 12rem;
    }

    height: 20rem;
    width: 20rem;
    border-radius: 30px;
  }
}

.skills {


  @media (max-width: 900px) {
    flex-direction: column;
    position: static;
  }

  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
  align-items: center;

  p {

    @media (max-width: 900px) {
      border-bottom: 1px solid;
      padding-bottom: 15px;
      padding-right: 0;
      border-right: 0;
    }

    margin-top: 0;
    margin-bottom: 0;
    padding-right: 20px;
    border-right: 1px solid;
  }
}

.logos {
  ul {

    @media (max-width: 900px) {
      justify-content: center;
      padding-inline-start: 0;
    }

    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
  }
}