$title-color: #000;
$text-hover-icon-color: #99775c;
$footer-text-hover-icon-color: #4c4b42;
// $background-color-sections: #f9f9f9;
$background-color-sections: #fdf8f0;
$background-color-sections-white: #fff;
